.book-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.35em;
}
  
.book-block > div {
    flex: 0 0 calc(33.33% - 1.35em);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.book-photo {
    margin: 0;
    width: 160px;
    height: 280px;
    border-radius: 4%;
    transition: all 0.3s ease;
    z-index: 1;
    box-shadow: -6px 6px 10px 0px #1b1835;}

.bookTitle {
    color: #f5f5f5;
    font-family: 'Bodoni Moda', serif;
    text-decoration: underline;
}

.bookAuthor {
    color: #f5f5f5;
    font-family: 'Bodoni Moda', serif;
    font-weight: 400; 
}

.removeButton {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    color: #1b1835;
    border-radius: 10%;
    cursor: pointer;
    height: 27px;
}

.loadingText {
    color: black;
}
  